ion-header {
    --ion-safe-area-top: 10px;
}

ion-toolbar {
    --background: var(--background-header);
    --color: var(--ion-color-light);
    --padding-start: 16px;
    --padding-end: 16px;

    ion-buttons {
        ion-menu-button {
            display: block !important;
            --color: var(--ion-color-light);
        }
    }
}

ion-content {
    --background: var(--background-color);
    height: max(auto, 100dvh);
    ion-list{
        ion-item{
            --padding-start: 0;
        }
    }
}

ion-menu {
    ion-header {
        ion-toolbar {
            --background: var(--background-header);
            --ion-safe-area-top: 10px;

            ion-title {
                --color: #fff;
            }

        }
    }
}